body{
    font-family: Arial;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
.containers{
    overflow: hidden;
}
nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav img{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
nav h3{
    margin: 0px;
}
nav ul{
    padding: 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}
nav li{
    font-size: 16px;
    margin: 15px
}
nav li a{
    text-decoration: none;
    color: black;
}
nav .icone{
    margin-top: 30px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}
/*nav i{
    margin-right: 15px;
}*/
#comande{
    background-color: #df2020;
    border-radius: 50%;
    width: 15px;
    height: 17px;
    color: white;
    margin-right: 15px;
    transform:translate(-3px,-10px);
}
#barre{
    display: none;
}
.dropdown-child{
    display: none;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border: 1px solid rgb(245, 189, 189);
}
.dropdown-child a{
    color: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: block;
    position: relative;
    font-weight: bold;
}

/*************navbar*************/

/*************section1*************/
.img1{
    width: 1700px;
    height: 200px;
    padding: 0px;
}
.section1 h1{
    transform: translate(70px, -140px);
    color: white;
}
/*************section1*************/

/*************section2*************/
.content{
    background-color:#fcd1d1 ;
    width: 600px;
    height: 600px;
    text-align: center;
    margin: 10px 485px;
}
.content form{
    padding: 30px;
}
.content form input{
    width: 300px;
    height: 20px;
    margin: 20px;
    background-color: #fcd1d1;
    color: black;
    border: none;
    border-bottom: 1px solid black;
}

.qtr{
    display: flex;
    margin: 0px;
}
/*************section2*************/

/*************section3*************/
.section3{
    text-align: center;
}
/*************section3*************/

/*************footer*************/
footer{
    background-color:#fcd1d1 ;
}
footer img{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
footer h4{
    margin: 0px;
}
.section7{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.section7 div:not([class="infos"]){
    margin-top: 25px;
}
.section7 div p{
    margin: 0px;
}
.section7 div h5{
    margin: 0px;
}
.infos{
    margin-top: 50px;
}
.infos form input{
    border-radius: 20px;
    padding: 10px 25px;
    margin-top: 20px;
    border: none;
}
footer hr{
    width: 1260px;
}
.suivre{
    text-align: center;
}
.suivre i{
    margin: 5px 5px;
    background-color: #df2020;
    color: white;
    border-radius: 50%;
    padding: 5px 5px;
}
/*************footer*************/